<div class="container">
  <h2 *ngIf="hotels && hotels.length > 0">{{ title }}</h2>
  <button class="btn btn-primary d-flex mb-2 mt-2" (click)="toggleIsNewBadge()">
    <span class="material-icons">
      {{ showBadge ? "visibility_off" : "visibility" }}
    </span>
    <span class="ml-5">
      {{ showBadge ? "Cacher nouveau " : "Afficher nouveau" }}
    </span>
  </button>
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4" *ngFor="let hotel of hotels">
      <div class="card h-100">
        <img
          src="{{ hotel.imageUrl }}"
          [title]="hotel.hotelName"
          class="card-img-top"
          [alt]="hotel.hotelName"
        />
        <div class="card-body">
          <h5 class="card-title">{{ hotel.hotelName }}</h5>
          <p class="card-text">
            {{ hotel.description }}
          </p>
          <div *ngIf="showBadge" class="alert alert-success text-center">
            <span>Nouveau</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
